.container-slide {
    width: 100%;
    height: 100%;
}

.banner-principal {
    background-image: url(../imgs/wlp-gow.jpg);
    background-position: center;
    background-size: cover;
    background-position: top;
    background-color: #0008;
    background-blend-mode: darken;
}


/* 
.titulo-principal {
    position: absolute;
    left: 700px;
    top: 960px;
    font-size: 2rem;
    color: whitesmoke;
} */