.produtos-total p,
h3,
span,
h2 {
    color: lightcyan;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.produtos-total {
    background-color: #000;
    overflow: hidden;
    height: 500px;
    min-height: 1000px;
}

.filtros-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.categorias {
    background-color: #000;
    width: 40%;
    height: 100%;
    padding-left: 10%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categorias a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #C4C4C4;
}

.produtos {
    background-color: #0c1e3671;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    overflow: hidden;
}

.produto-card {
    width: 240px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
}

.produto-card p,
span {
    color: #000;
    font-size: 1.1rem;
}

.card-container {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    padding-left: 20px;
}

.produto-card button {
    background-color: #C80C00;
    width: 90px;
    height: 35px;
    color: #fff;
    border-radius: 5px;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    height: auto;
}

.produtos-titulos {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.image-card-container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card-container img {
    max-height: 100%;
    max-width: 100%;
}

.produtos-titulos input {
    background-color: #C4C4C4;
    border-radius: 10px;
    padding-left: 10px;
}