th {
    background-color: #2a6cc4;
    width: 200px;
    height: 40px;
}

.tabela-produtos td {
    text-align: center;
    border: silver 1px solid;
    width: 500px;
}

.tabela-produtos {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: whitesmoke;
}

.td-opcoes img {
    width: 35px;
    height: 35px;
}

.td-imagem img {
    max-width: 200px;
    max-height: 150px;
}

form {
    width: 30vw;
    height: 40vh;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.container-form-infos input {
    font-size: 1rem;
    width: 20vw;
    height: 30px;
}

.btnEnviar {
    cursor: pointer;
    color: whitesmoke;
    border-radius: 2px;
    background-color: #2a6cc4;
    height: 40px !important;
    width: 10vw !important;
}

.container-input {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.container-form-infos p {
    color: black;
    text-align: right;
}